/* To increase textbox placeholder font-size */
input::placeholder {
    font-size: 20px !important;
}

/* For link hover animation */
.hover-underline-animation {
    /* display: inline-block; */
    position: relative;
    color: #1E003A;
}

a.active {
    /* display: inline-block; */
    color: #4A89DC !important;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4A89DC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}